/* Remove the default margin and padding from the body. */
body {
  padding: 0;
  margin: 0;
}

/* Set map, body, and html to 100% of the screen size. */
#map,
body,
html {
  height: 100%;
}

.navbar-brand{
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 1.5rem;
  background-image: linear-gradient(to bottom right, rgb(255, 24, 1), rgb(143, 13, 1));

}

#header {
  border-bottom: 3px solid black;
}

.box {
  min-height: 50px;
  padding: 5px;
  margin: 2%;
  font-weight: 800;
  color: black;
}

#Visualizations{
  margin: 2%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;   
}

.graph {
  border: 2px solid black;
  min-height: 300pt;
  margin: 2%;
  border-radius: 2%
}

#driver_standings {
  min-height: 350pt;
  min-width: 350pt;
}

h3 {
  text-align: center;
}












#dashboardSection {
  border: 1;
  border-radius: calc(5px);
  border-color: #FF1801;
}


.articles {
  /* top: 0px;
  left: 0px; */
  border: 1;
  border-radius: calc(5px);
  border-color: #FF1801;
}


.topTweets {
  border: 1;
  border-radius: calc(5px);
  border-color: #FF1801;
}


.btn{
  color: #FF1801;
}